/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=National+Park:wght@200..800&display=swap');

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main colors */
:root {
  --col-yellow: #f6bd60;
  --col-white: #f7ede2;
  --col-light-pink: #f5cac3;
  --col-dark-pink: #f28482;
  --col-green: #84a59d;
  --col-blue: #6eaae2;
  --col-dark-blue: #4a8cca;
}

/* default css */
body {
  font-family: "National Park", sans-serif;
  background-color: var(--col-light-pink);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

/* ======= MAIN STYLE ======= */
.main-container {
  width: 700px;
  height: 700px;
  background-color: var(--col-white);
  padding: 20px;
  border-radius: 30px;
  border: 3px dashed var(--col-dark-pink);
  box-shadow: 10px 10px 5px var(--col-dark-pink);
}

/* ------- header ------- */
header {
  h1 {
    font-family: "Chewy", system-ui;
    font-size: 2.5rem;
    color: var(--col-blue);
  }

  nav {
    margin: 30px 40px;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .home-link {
        a {
          font-size: 1.2rem;
          border-radius: 10px;
          padding: 3px 8px;
          background-color: var(--col-light-pink);
          color: var(--col-white);

          &:hover {
            background-color: var(--col-dark-pink);
          }
        }

        .active {
          background-color: var(--col-dark-pink);
        }
      }

      .addtask-link {
        a {
          background-color: var(--col-blue);
          padding: 10px 14px;
          border-radius: 100%;
          color: #fff;

          &:hover {
            background-color: var(--col-dark-blue);
          }
        }
      }
    }
  }
}

/* ------- tasks-list-section ------- */
.tasks-search-bar {
  text-align: center;
  margin: 30px 0;

  input {
    font-size: 0.9rem;
    border: 2px dashed var(--col-green);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
  }
}

.no-task-finded {
  text-align: center;
  margin: 50px;
}

.tasks-list {
  border: 2px solid var(--col-green);
  border-radius: 20px;
  padding: 20px;
  max-height: 445px;

  .list-intestation {
    border-bottom: 1px solid var(--col-dark-blue);
    text-align: center;
    position: static;

    span {
      display: inline-block;
      cursor: pointer;
      color: var(--col-dark-blue);
      padding: 5px;

      &:hover {
        background-color: var(--col-light-pink);
      }
    }

    span:nth-child(1) {
      width: 12%;
      border-right: 1px solid var(--col-dark-blue);
    }

    span:nth-child(2) {
      width: 68%;
      border-right: 1px solid var(--col-dark-blue);
    }

    span:nth-child(3) {
      width: 20%;
    }
  }

  .list {
    overflow: auto;
    max-height: 388px;
  }

  .task-row {
    margin: 10px 0;
    display: flex;
    align-items: center;
    background-color: #e7e6e6;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      background-color: #e0e0e0;
    }

    .task-status {
      text-align: center;
      padding: 10px;
      height: 100%;
      width: 12%;

    }

    .task-title {
      margin-left: 10px;
      width: 68%;
    }

    .task-date {
      width: 20%;
      text-align: center;

      p {
        font-size: 0.9rem;
        color: #363636;

        span {
          font-weight: bold;
          margin-right: 10px;
        }
      }
    }
  }
}

/* ------- task-details section ------- */
.taskdetail {
  border: 2px solid var(--col-green);
  border-radius: 20px;
  padding: 20px;

  .task-info {
    .task-intestation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .status {
        width: 80px;
        text-align: center;
        padding: 10px 20px;
        border-radius: 20px;
      }

      h2 {
        span {
          font-weight: 400;
        }
      }
    }

    .task-description {
      margin-bottom: 20px;

      span {
        font-weight: bold;
        font-size: 1.2rem;
      }

      p {
        word-wrap: break-word;
      }
    }
  }

  .task-handle {
    display: flex;
    justify-content: space-around;

    button {
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
    }

    .delete-btn {
      background-color: #F74B46;

      &:hover {
        background-color: #b2312c;
      }
    }

    .modify-btn {
      background-color: var(--col-blue);

      &:hover {
        background-color: var(--col-dark-blue);
      }
    }
  }
}

/* ------- add task form ------- */
form {
  border: 2px solid var(--col-green);
  border-radius: 20px;
  padding: 20px;

  label {
    display: block;

    span {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      margin-top: 10px;
    }

    input {
      padding: 10px;
      max-width: 300px;
      border: 2px solid var(--col-green);
      border-radius: 10px;
    }

    textarea {
      width: 260px;
      height: 150px;
      border: 2px solid var(--col-green);
      border-radius: 10px;
    }

    select {
      padding: 10px;
      margin-bottom: 20px;
      border: 2px solid var(--col-green);
      border-radius: 10px;
    }
  }

  .error-message {
    font-size: 0.9rem;
    color: red;
  }

  .form-btn {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 10px 15px;
      margin-right: 10px;
      border: none;
      border-radius: 10px;
      background-color: var(--col-blue);
      color: #fff;

      &:hover {
        background-color: var(--col-dark-blue);
      }
    }
  }
}

/* ------- modal reusable component ------- */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ae;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: var(--col-white);
    padding: 20px;
    border-radius: 20px;
    text-align: center;

    .modal-btn {
      border: none;
      border-radius: 10px;
      margin: 10px;
      padding: 10px 20px;
      cursor: pointer;
      color: #fff;
    }

    .cancel {
      background-color: red;

      &:hover {
        background-color: rgb(129, 0, 0);
      }

    }

    .confirm {
      background-color: green;

      &:hover {
        background-color: rgb(0, 52, 0);
      }
    }
  }
}